html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font-family: Tahoma, "Times New Roman", sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 32px;
    text-align: center;
}

a {
    text-decoration: none;    
}

/************* Container Styles *************/

.container {
    margin-left: 50px;
    margin-right: 50px;    
}

.container .items {
    margin: 0 auto;
    text-align: center;
}

/************* Button Styles *************/

.button a {
    border: solid black 1px;
    padding: 15px;
    background-color: rgb(65, 65, 65);
    color: white;
    font-weight: bold;
    font-size: 26px;        
}

/************* Card Styles *************/

.card {
    display: inline-block;
    width: 300px;
    background-color: whitesmoke;

    /* Placeholder to prevent jumping when border is visible on hover */
    border: 2px solid transparent;
}

.card:hover {
    border: 2px solid rgb(65, 65, 65);
}

.card h2:hover {
    background-color: rgb(85, 85, 85);
}

.card-title {    
    padding: 15px;
    background-color: rgb(65, 65, 65);
    color: white;
    font-weight: bold;
    font-size: 26px;
    margin: 0;    
}

.card-image {
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;    
    max-height: 200px;
}

.separator {
    border-top: 2px solid  rgb(125, 125, 125);
    width: 125px;
    margin-bottom: 22px;
}