@import "./global.css";

img {
    height: auto;
    width: 300px;    
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

ol li, ul li {    
    margin-top: 15px;
}

ul {
    list-style: none;
    margin-left: -15px;
}

img {
    display: block;
    margin: auto;
}